fieldset {
  border: 0;
  padding: 0;
}

body {
  background: #e9e9e9 url("/static/images/body-bg.jpg") no-repeat center top;
  background-size: cover;
  font-family: "Biryani", helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.typography--extra-bold {
  font-weight: 800;
}

.content {
  margin: 0 auto;
  max-width: 746px;
  width: 95%;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.34) 0px 2px 6px 0px;
  color: rgba(255, 255, 255, 0.87);
  margin-top: 12px;
  text-align: center;
}

@media screen and (min-width: 540px) and (min-height: 860px) {
  .container {
    margin-top: 48px;
  }
}

.container__content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 422px;
  padding: 0 18px;
}

.container__content p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container--sign-up {
  background: #262676 url("/static/images/container-signup-bg.jpg") no-repeat center top;
}

.container--success {
  background: #45811c url("/static/images/container-success-bg.jpg") no-repeat center top;
}

.link-back {
  border-bottom: 2px solid rgba(255, 255, 255, 0.57);
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0 16px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: border-color 0.1s;
}

.link-back:hover,
.line-back:focus {
  border-color: #fff;
}

header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  padding: 28px 18px 20px 18px;
}

header h3,
header h4 {
  color: #fff;
  line-height: 1.33;
  margin: 0;
  text-transform: uppercase;
}

header p {
  line-height: 1.45;
  margin: 0 auto;
  max-width: 422px;
}

header h3 {
  font-size: 24px;
  padding-bottom: 8px;
}

header h4 {
  font-size: 24px;
}

.typography--subhead {
  font-size: 18px;
}

.typography--subhead b {
  color: #fff;
}

.form-fields {
  box-sizing: border-box;
  padding: 12px 0 18px 0;
}

.form-error {
  background-color: #fff000;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 800;
  line-height: 1.33;
  margin: 0 auto 8px auto;
  max-width: 422px;
  padding: 16px 16px 14px 16px;
  text-transform: uppercase;
}

.form-controls {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 22px 18px;
}

.field {
  margin: 0 auto;
  max-width: 422px;
  padding: 18px;
}

.field label {
  display: block;
  font-size: 14px;
  text-align: left;
  padding: 0 8px 2px 18px;
}

.field input {
  background-color: rgba(255, 255, 255, 0.12);
  border: 0;
  border-radius: 40px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-family: "Biryani", helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 18px 2px 18px;
  text-align: left;
  transition: background-color 0.15s, box-shadow 0.15s;
  width: 100%;
}

.field input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  outline: none;
}

.btn-sign-up {
  background-color: #3c19c0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: block;
  font-family: "Biryani", helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.09em;
  margin: 0 auto;
  max-width: 422px;
  padding: 12px 8px 8px 8px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.15s;
  width: 100%;
}

.btn-sign-up:hover,
.btn-sign-up:focus {
  background-color: #5600d6;
  outline: none;
}

@media screen and (min-width: 440px) {
  header h3 {
    font-size: 34px;
  }

  header h4 {
    font-size: 32px;
  }
}

@media screen and (min-width: 540px) {
  body,
  .field input {
    font-size: 18px;
  }

  .field label {
    font-size: 16px;
  }

  .typography--subhead {
    font-size: 22px;
  }

  header {
    padding-top: 50px;
    padding-bottom: 36px;
  }

  header h3 {
    font-size: 44px;
  }

  header h4 {
    font-size: 38px;
  }

  .form-fields {
    padding: 20px 0 30px 0;
  }

  .field {
    padding: 22px 18px;
  }

  .form-controls {
    padding: 42px 28px;
  }

  .btn-sign-up {
    padding-top: 18px;
    padding-bottom: 14px;
  }
}
